.idea/workspace.xml
.idea/libraries
.idea/dictionaries
.idea/dbnavigator.xml
*.iml
*.ipr
*.iws
*.DS_Store
target
staging
overlays
examples
pom.xml.bak
pom.xml.releaseBackup
release.properties
logs/
*.classpath
*.settings
*.project
*/bin/
*/test-output/
*/src/test/resources/*.jar
dependency-reduced-pom.xml
dependency-reduced-pom.xml.bak
